.message {
	margin-bottom: 115px;

	&__intro {
		display: flex;
		flex-wrap: wrap;
	}

	&__info {
		margin-right: 132px;
	}

	&__info-address-address {
		font-size: 14px;
		line-height: 20px;

		color: rgba(34, 34, 34, 0.4);
	}

	&__info-address-street {
		font-size: 24px;
		line-height: 33px;
	}

	&__info-address-city {
		font-size: 24px;
		line-height: 33px;

		margin-bottom: 45px;
	}

	&__info-information-information{
		font-size: 14px;
		line-height: 20px;

		color: rgba(34, 34, 34, 0.4);
	}

	&__info-information-mail {
		font-size: 24px;
		line-height: 33px;
	}

	&__info-information-phone {
		font-size: 23px;
		line-height: 33px;
	}

	&__forms-info {
		display: flex;

		margin-bottom: 30px;

		input {
			width: 100%;
			border: 1px solid #EEEEEE;

			padding: 18px 0 19px 40px;
		}
	}
	&__forms-info-name {
		margin-right: 30px;
	}

	&__forms-message {

		margin-bottom: 65px;

		input {
			width: 100%;

			border: 1px solid #EEEEEE;
			padding: 20px 0 87px 40px;
		}
	}
}

@media (max-width: 1150px) {
	.message {
		&__info {
			margin: 0 auto;
		}

		&__info-information {
			margin-bottom: 30px;
		}
	
		&__forms-info {
			margin-bottom: 30px;
		}

		&__forms {
			margin: 0 auto;
		}
	}
}
@media (max-width: 756px) {
	.message {
		&__info-address-city {
			margin-bottom: 20px;
		}

		&__forms-info {
			margin-bottom: 20px;
		}

		&__forms-message {
			margin-bottom: 30px;
		}
	
	}
}