.works {
	padding-bottom: 170px;

	&__info {
		position: relative;
	}

	&__element {
		padding-bottom: 100px;

		text-align: center;
		margin: 0 auto;
		overflow: hidden;

		img {
			display: inline;

		}
	}
	&__element-circle::before {
			content: "";
	
			display: block;
			width: 606px;
			
			position: absolute;
			border-bottom: 1px solid #000;

			top: 40px;
			left: -100px;
	}
		&__element-circle::after {
			content: "";
		
			display: block;
			width: 606px;
		
			position: absolute;
			border-bottom: 1px solid #000;
		
			top: 40px;
			right: -100px;
		}

	&__intro {
		display: flex;
		justify-content: space-between;

		align-items: flex-end;

	}

	&__name-link {
		font-size: 14px;
		line-height: 15px;
		
		color: #FD8558;
		
		margin-bottom: 8px;

		transition: 0.3s ease-in;
	}
	&__name-link:hover {
		font-weight: bold;
		font-size: 16px;
		
		transform: scale(1.05);
	}
	

	&__name-text {
		font-size: 32px;
		line-height: 38px;
			
		color: #333333;
	}
	&__works {
		font-size: 200px;
		line-height: 180px;

		color: #F7F7F7;

		position: absolute;
		z-index: -1;

		right: -133px;
	}
}

@media (max-width: 1440px) {
	.works {
		&__element {
			display: none;
		}
		&__works {
			right: 0;
		}
	}
}
@media (max-width: 656px) {
	.works {
		&__name-text {
			font-size: 30px;
			line-height: 44px;
		}
	
		&__works {
			font-size: 100px;
			line-height: 125px;
		}
	}
}
@media (max-width: 500px) {
	.works {
		padding-bottom: 130px;

		&__intro {
			flex-wrap: wrap;
			flex-direction: column;

			align-items: center;
		}
		&__name {
			margin-bottom: 20px;
		}
		&__name-text {
			text-align: center;
		}
	}
}