.work-cards {
	padding-bottom: 115px;

	&__wrapper {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(4, 360px);
		grid-template-rows: repeat(2, 360px);
		grid-template-areas: 
			"card-left-top big-card big-card card-right-top"
			"card-left-bottom big-card big-card card-right-bottom";
	}
	&__card {
		position: relative;

		background: url(../../img/work-cards/1.png) no-repeat;
	}
	&__form {
		position: absolute;
		width: 320px;
		height: 126px;

		top: 180px;
		right: 20px;

		display: flex;
		justify-content: center;
		align-items: center;

		background: rgba(255, 255, 255, 0.85);

		input {
			background: #FFFFFF;
			border: 2px solid #222222;

			width: 46px;
			height: 46px;
			margin-left: 46px;
		}
	}

	&__form-title {
		font-size: 24px;
		line-height: 33px;
	}
}
.card-left-top {
	grid-area: card-left-top;
}
.big-card {
	grid-area: big-card;
}
.card-right-top {
	grid-area: card-right-top;
}
.card-left-bottom {
	grid-area: card-left-bottom;
}
.card-right-bottom {
	grid-area: card-right-bottom;
}
.card-hidden {
	display: none;
}
@media (max-width: 1440px) {
	.card-hidden {
		display: block;
	}
	.work-cards {
		&__wrapper {
			grid-template-columns: repeat(3, 360px);
			grid-template-rows: repeat(3, 360px);
			grid-template-areas: 
			"card-left-top card-right-top card-left-bottom"
			"big-card big-card card-right-bottom"
			"big-card big-card card-hidden"
		}
	}
}
@media (max-width: 1090px) {
	.work-cards {
		margin-top: 30px;

		&__wrapper {
			grid-template-columns: repeat(2, 360px);
			grid-template-rows: repeat(3, 360px);
			grid-template-areas:
				"card-left-top card-right-top"
				"big-card card-right-bottom"
				"card-hidden card-left-bottom"
		}
	}
}
@media (max-width: 730px) {
	.work-cards {
		margin-top: 0;
		padding-bottom: 60px;

		&__wrapper {
			grid-template-columns: repeat(1, 320px);
			grid-template-rows: repeat(6, 320px);
			grid-template-areas:
				"card-left-top"
				"card-right-top"
				"big-card"
				"card-right-bottom"
				"card-hidden"
				"card-left-bottom"
		}
		&__form {
			width: 320px;
			height: 100px;
		
			right: 0px;
		}
	}
}